* {box-sizing: border-box;}

body{
    background-color: #e6e9e9;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;

}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  font-family: "candara", Helvetica, Arial;
  border: 5px solid #DEB887;
  box-shadow: 5px 10px #FFEFD5;
}

.header {
  background: #3CB371;
  text-align: center;
}

.footer {
  background:#3CB371 ;
  text-align: center;
}

.main {
  text-align: center;
  background: #FFEFD5;
}
form{ 
  padding: 1em;
  background: tomato;
  border: 1px solid black;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

form input  {
  margin-bottom: 1rem;
  background: white;
  border: 1px solid #9c9c9c; 
}

label {
  padding: 0.5em 1.5em 0.5em 0;
  display: block;
  text-align: right;
}
.myinput {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  margin:auto;
    display: flex;
  border-radius: 10px;
  padding: 12px 32px;
  width: auto;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
    
}

.aside-1 {
  background: #FFEFD5;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
h3{
    text-align: center;
}

nav { text-align:center; }
nav ul{list-style-type: none; padding: 0;}
nav ul li { background-color: #3CB371;
            text-align: center;
            display: block;
            margin-bottom: 30px;
            width: auto;
            height: 50px;
            border-radius: 10px;
            line-height: 30px;
            padding: 10px 32px;}

nav ul li a {text-decoration: none; font-weight: bold; color:white;}
